.maing{width: 100%;background-color: #f4f4f4;}
.main{width: 1200px;margin: auto;}
.iimg{width: 1000px;margin-left: 100px;}
.iimg img{width: 1000px;}

.bor{width: 1000px;border: 1px solid black;margin: auto;}
